﻿
<div class="container">

    <h2>.::CREAR INGRESO::.</h2>
    <div class="row">


        <div class="col-6">

            <form method="Post" action="~/Home/CrearIngreso">
                <div class="form-group">
                    <label for="inpCuenta">Cuenta</label>
                    <input name="nombreCuenta" type="text" class="form-control" id="inpCuenta">
                </div>
                <div class="form-group">
                    <label for="inpFecha">Fecha y Hora</label>

                    <input class="form-control" type="datetime-local" id="inpFecha"
                           name="fechaHora" value="2021-12-01T19:30"
                           min="2019-01-01T19:30">


              
                </div>

                <div class="form-group">
                    <label for="inpDesc">Descripcion</label>
                    <input name="descripcion" type="text" class="form-control" id="inpDesc">
                </div>
                <div class="form-group">
                    <label for="ipnMonto">Monto</label>
                    <input name="monto" type="text" class="form-control" id="ipnMonto">
                </div>

                <button class="btn-success">Crear</button>

            </form>



        </div>



    </div>


</div>