﻿
@{

  

}


<div class="container">

    <h2>.::CREAR CUENTA::.</h2>
    <div class="row">


        <div class="col-6">

            <form method="Post" action="~/Home/CrearCuenta" >
                <div class="form-group">
                    <label for="inpNombre">Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="inpNombre">
                </div>
                <div class="form-group">
                    <label for="inpCategoria">Categoria</label>
                    <select name="categoria" class="form-control" id="inpCategoria">
                        <option value="Propio" >Propio</option>
                        <option value="Credito">Credito</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inpSaldo">Saldo Inicial</label>
                    <input name="saldo" type="text" class="form-control" id="inpSaldo">
                </div>

                <button class="btn-success">Crear</button>

            </form>



        </div>



    </div>


</div>