﻿@{
    
}


<div class="container">

    <div>

        <h3>.::FINANZAS APP::. </h3>
    </div>
    <div class="row">

        <div class="col-9 d-flex">

            <div class="col-3">

                <a class="btn btn-info" href="~/Home/CrearCuenta">Crear Cuenta</a>


            </div>

            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gasto
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="~/Home/CrearGasto">Crear Gasto</a>
                        <a class="dropdown-item" href="~/Home/ListarGastos">Listar Gastos</a>

                    </div>

                </div>
            </div>


            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ingreso
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="~/Home/CrearIngreso">Crear Ingreso</a>
                        <a class="dropdown-item" href="~/Home/ListarIngresos">Listar Ingreso</a>

                    </div>

                </div>

            </div>


            </div>

        <div class="col-12 m-5">

            <div class="card" style="width: 20rem;">
                <div class="card-header">
                    Saldos totales del usuario
                </div>
                <ul class="list-group list-group-flush">

                    <li style="background: oldlace;" class="list-group-item">Ingresos: S/ @Model.Ingresos </li>
                    <li style="background: oldlace;" class="list-group-item">Egresos : S/ @Model.Egresos </li>

                </ul>
            </div>



        </div>


        </div>



</div>