﻿



<div class="container">


        <h2 >.::LISTA GASTOS</h2>
        <div class="row m-2">

            <ul>




                @foreach (var item in Model)
                {
                <li>

                    <span><b>Cuenta :</b>@item.nombreCuenta</span>
                    <span><b>Fecha :</b>@item.fechaHora</span>
                    <span><b>Monto :</b>@item.monto</span>
                    <span><b>Descripcion :</b>@item.descripcion</span>
                    <hr />

                </li>
              
                }

            </ul>
        </div>

</div>



